<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;buckling - Space Station 13</title>
</head>
<body>
<header>
    <a href="index.html">Space Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/buckling.html#var">Var Details</a></header>
<main>
<h1>buckling <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/buckling.html">buckling</a></aside>
        
    
            <a href="https://github.com/MLGTASTICa/AEV-Oxyd/blob/3f91e31165e09bdeca0e6ca219bf1b0ce7f3647d/code/datums/components/buckling.dm#L39">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;buckling.dm 39"/></a></h1>

<p>Doesn't have handling for atoms buckling stuff. Add it yourself if you need it. This is mostly just a saner way to handle atom buckling - SPCR 2023</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/buckling.html#var/moveProc">moveProc</a></th><td>Proc to call on owner when movement attempts are detected, will pass the mob as its first argument and direction as second</td></tr>
            <tr><th><a href="datum/component/buckling.html#var/updateProc">updateProc</a></th><td>Proc to call on owner after buckling/unbuckling, will pass the buckled/unbuckled mob as an argument</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/moveProc"><aside class="declaration">var </aside>moveProc
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/MLGTASTICa/AEV-Oxyd/blob/3f91e31165e09bdeca0e6ca219bf1b0ce7f3647d/code/datums/components/buckling.dm#L44">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;buckling.dm 44"/></a></h3>
        <p>Proc to call on owner when movement attempts are detected, will pass the mob as its first argument and direction as second</p><h3 id="var/updateProc"><aside class="declaration">var </aside>updateProc
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/MLGTASTICa/AEV-Oxyd/blob/3f91e31165e09bdeca0e6ca219bf1b0ce7f3647d/code/datums/components/buckling.dm#L46">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;buckling.dm 46"/></a></h3>
        <p>Proc to call on owner after buckling/unbuckling, will pass the buckled/unbuckled mob as an argument</p></main>
<footer>
    cev_eris.dme
    <a href="https://github.com/MLGTASTICa/AEV-Oxyd/tree/3f91e31165e09bdeca0e6ca219bf1b0ce7f3647d">3f91e31</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
